@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --background: #fff9f0;
    --foreground: #19191c;
    --primary: #002726;
    --secondary: #33c375;
    --creamwhite: #fff9f0;
  }

  [data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #fff9f0;
  }

  h1 {
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--tracking-tight);
    color: var(--primary);
    font-size: 40px;
    line-height: 1;

    @media (min-width: 40rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (min-width: 48rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    @media (min-width: 96rem) {
      font-size: 84px;
    }
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);

    @media (min-width: 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (min-width: 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    @media (min-width: 80rem) {
      font-size: var(--text-7xl);
      line-height: var(--text-7xl--line-height);
    }
  }

  h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: var(--font-weight-semibold);
    color: var(--primary);

    @media (min-width: 48rem) {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }

    @media (min-width: 80rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }

  h5 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--primary);
    @media (min-width: 64rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }

  h6 {
    font-size: var(--text-lg);
    line-height: var(---text-lg--line-height);
    line-height: 1.4;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-creamwhite: var(--creamwhite);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 425px;
}

@utility container {
  margin-inline: auto;
  margin-block: 0;
  width: 100%;
  max-width: 74.7rem;
  padding-inline: calc(var(--spacing) * 5);
  padding-block: 0;
  @media (min-width: 40rem) {
    padding-inline: calc(var(--spacing) * 7);
  }
}

@keyframes navbar-change {
  from {
  }
  to {
    border-radius: 9999px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: var(--creamwhite);
    padding-inline: 16px;
  }
}

.animation-navbar {
  animation-name: navbar-change;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: scroll(root);
  animation-range: 0px 105px;
}

@keyframes slider-logo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-350px * 5));
  }
}

.animation-slider-log {
  animation-name: slider-logo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
