@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #fff9f0;
}

@layer base {
  h1 {
    --tw-leading: 1;
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--tracking-tight);
    color: var(--primary);
    font-size: 40px;
    line-height: 1;

    @media (min-width: 40rem) {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }

    @media (min-width: 48rem) {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }

    @media (min-width: 96rem) {
      font-size: 84px;
    }
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);

    @media (min-width: 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (min-width: 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    @media (min-width: 80rem) {
      font-size: var(--text-7xl);
      line-height: var(--text-7xl--line-height);
    }
  }

  h3 {
    --tw-leading: 1.2;
    font-size: 30px;
    line-height: 1.2;
    font-weight: var(--font-weight-semibold);
    color: var(--primary);

    @media (min-width: 48rem) {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }

    @media (min-width: 80rem) {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }

  h4 {
    --tw-leading: 120%;
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    line-height: 1.2;
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);
    @media (min-width: 64rem) {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
    @media (min-width: 80rem) {
      font-size: 32px;
    }
  }

  h5 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--primary);
    @media (min-width: 64rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }

  h6 {
    font-size: var(--text-lg);
    line-height: var(---text-lg--line-height);
    line-height: 1.4;
  }
  p {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
  }
}

@theme {
  --color-background: #fff9f0;
  --color-foreground: #19191c;
  --color-primary: #002726;
  --color-secondary: #33c375;
  --color-creamwhite: #fff9f0;
  --color-middlegreen: #013e3d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 425px;
  --animate-slideUp: slideUp 300ms ease-out;
  --animate-slideDown: slideDown 300ms ease-out;
  --color-warm-ivory: #fff5de;
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  margin-block: 0;
  width: 100%;
  max-width: 74.7rem;
  padding-inline: calc(var(--spacing) * 5);
  padding-block: 0;
  @media (min-width: 40rem) {
    padding-inline: calc(var(--spacing) * 7);
  }
}

@keyframes navbar-change {
  from {
  }
  to {
    border-radius: 9999px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: var(--color-creamwhite);
    padding-inline: 16px;
  }
}

.animation-navbar {
  animation-name: navbar-change;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: scroll(root);
  animation-range: 0px 250px;
}

@keyframes slider-logo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-350px * 5));
  }
}

.animation-slider-logo {
  animation-name: slider-logo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}

@keyframes slider-brand {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-200px * 5));
  }
}

.animation-slider-brand {
  animation-name: slider-brand;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

.accordion-content {
  transition: height 500ms ease;
  overflow: hidden;
}
.accordion-content[data-state="closed"] {
  height: 0;
}
.accordion-content[data-state="open"] {
  height: var(--radix-accordion-content-height);
}

@keyframes reveal-btn {
  from {
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

#back-to-top {
  animation-name: reveal-btn;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: scroll(root);
  animation-range: 0px 350px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-overlayShow {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
